*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

#wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #16a085;
}

.result{
      width: 210px;
      padding: 10px 25px;
      background-color: #fff;
      text-align: center;
}
#wrapper button{
      padding: 6px 15px;
      margin-top: 8px;
      text-transform: capitalize;
      font-weight: 500;
      border: none;
      outline: none;
      
}

